body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at 70% 30%, rgba(255, 120, 0, 0.15), transparent 40%),
        linear-gradient(to right, #000, #0a0a0a);
    color: #fff;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.logo img {
    height: 50px;
    width: 90px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    padding: 15px;
    gap: 20px;
}

.navbar li {
    list-style: none;
    margin: 0px 20px;
    padding: 0px 15px;
    font-size: 16px;
}

.navbar li:hover {
    color: orange;
    cursor: pointer;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.logo h1 {
    font-size: 32px;
}


.navbar .active {
    color: orange;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 15px;
    /* border: white solid 2px; */
    min-height: 510px;
    max-width: 1200px;
}

.container h1 {
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: -1px;
}

.container span {
    color: orange;
}

.container p {
    margin: 15px 0;
    color: #bbb;
    font-size: 16px;
    line-height: 1.6;
    max-width: 420px;
}

.left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 500px;
    /* border: white solid 2px; */
}

.right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px;
    padding: 15px;
}

.right img {
    max-width: 450px;
    filter: drop-shadow(0px 20px 60px rgba(156, 103, 57, 0.833));
}

.cta {
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background: linear-gradient(135deg, #ff7b00, #ffae00);
    padding: 12px 22px;
    border-radius: 30px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.cta:hover {
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 0 15px orange;
}

.card:hover {
    transform: translateY(-8px);
    transition: 0.3s;
    box-shadow: 0 0 15px orange;
}

.menu {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-wrap: nowrap;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.tabs {
    margin: 20px 0;
    font-size: 24px;
}

.tabs span {
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.tabs span:hover {
    color: orange;
}

.tabs .active {
    color: orange;
}

.menu h2 {
    font-size: 56px;
}

.cards-content {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 20px;
    padding: 15px;
}

.card {
    background: #111;
    padding: 20px;
    border-radius: 16px;
    width: 250px;
    text-align: center;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.6),
        0 0 20px rgba(255, 120, 0, 0.1);

    transition: all 0.3s ease;
}

.card img {
    width: 120px;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: translateY(-10px) scale(1.05);
}

.card h2 {
    margin: 10px 0;
    font-size: 24px;
}

.card p {
    font-size: 16px;
    color: #bbb;
}

.price {
    display: block;
    margin: 10px 0;
    color: orange;
}

.card {
    transition: all 0.3s ease;
    opacity: 1;
}

.card.hide {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .left {
        align-items: center;
    }

    .navbar {
        flex-direction: column;
        gap: 10px;
    }
}